<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style.css">
  <link rel="stylesheet" href="../public/admin.css">
  <title>iClothing</title>
  <script src="https://kit.fontawesome.com/b24fcb5f38.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="overlay" id="overlay">
        <div class="login-box">
            <h2>Login</h2>
            <form action="#">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>
                <div id="loginError" class="error-message">
                    <div class="error-container">
                        <p>Incorrect username or password. Please try again.</p>
                    </div>
                </div>
                <button onclick="login(event)">Login</button>
            </form>
            <!-- <button class="close-btn" onclick="closeOverlay()">Close</button> -->
        </div>
    </div>
    
    <!-- <button class="open-btn" onclick="openOverlay()">Open Login</button> -->

    <!-- <h1>iClothing</h1> -->

    <nav class="navbar">
        <div class="logo">
            <a href="./admin">iClothing</a>
        </div>
        <div class="navbar-links-container">
            <!-- <div class="home">
                <a href="./admin">Home</a>
            </div> -->
            <div class="inventory">
                <a href="./admin">View Inventory</a>
            </div>
            <div class="add-item">
                <a href="#" onclick="renderAddItem()">Add Product</a>
            </div>
            <div class="user">
                <a href="/customer">
                    <!-- <i class="fa-solid fa-shopping-cart"></i> -->
                    <p>Logout <i class="fa-solid fa-right-from-bracket"></i></p>
                    <!-- <span id="cartQuantity" class="cart-badge"><%= productsInCart ? productsInCart.length : 0 %></span> -->
                </a>
            </div>
        </div>
    </nav>

    <div class="page-container">
        <div id="productsContainer" class="product-container">
            <h1>Inventory</h1>
            <div class="card-container">
                <!-- <div class="grid-container"> -->
                <!-- <div > -->
                <% if (products) { %>
                    <% products.forEach((product) => { %>
                        <div class="product-card">
                            <img src="../public/images/<%= product.productID %>.jpg" alt="<%= product.productName %>">
                            <div class="product-details" id="<%= product.productID %>">
                                <h2 class="product-name content"><%= product.productName %></h2>
                                <p class="product-description"><%= product.productDescription %></p>
                                <p class="product-price">$<%= product.productPrice.toFixed(2) %></p>
                                <p class="product-quantity">Available: <%= product.productQty %></p>
                                <p class="product-category">Department: <%= product.department %></p>
                                <p class="product-category">Category: <%= product.category %></p>
                                <p class="product-brand">Brand: <%= product.brand %></p>
                                <div class="edit-section">
                                    <div>
                                        <label for="price">Edit price:</label>
                                        <input type="text" id="price_<%= product.productID %>" value="<%= product.productPrice.toFixed(2) %>">
                                    </div>
                                    <div>
                                        <label for="availability">Edit availability:</label>
                                        <input type="text" id="availability_<%= product.productID %>" value="<%= product.productQty %>">
                                    </div>
                                    <div>
                                        <button onclick="updateProduct('<%= product.productID %>')">Update Product</button>
                                        <button class="delete-btn" onclick="deleteFromInventory('<%= product.productID %>')">Delete from Inventory</button>
                                    </div>
                                        
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No products in the database</p>
                <% } %>
    
            </div>
        </div>

        <div id="addItemContainer" class="add-item-container">
            <h1>Add Product %></h1>
            <div class="container">
                <form>
                    <div class="form-group">
                        <label for="productName">Product Name:</label>
                        <input type="text" id="productName" name="productName" required>
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Product Description:</label>
                        <textarea id="productDescription" name="productDescription" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Product Price:</label>
                        <input type="number" id="productPrice" name="productPrice" step="0.01" required>
                    </div>
                    <div class="form-group">
                        <label for="productQty">Product Quantity:</label>
                        <input type="number" id="productQty" name="productQty" required>
                    </div>
                    <div class="form-group">
                        <label for="department">Department:</label>
                        <select id="department" name="department" required>
                            <option value="">Select Department</option>

                            <% departments.forEach(dep => { %>
                                <option value="<%= dep.departmentName %>"><%= dep.departmentName %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <select id="category" name="category" required>
                            <option value="">Select Category</option>
                            <% categories.forEach(cat => { %>
                                <option value="<%= cat.categoryName %>"><%= cat.categoryName %></option>
                            <% }) %>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="brand">Brand:</label>
                        <select id="brand" name="brand" required>
                            <option value="">Select Brand</option>
                            <% brands.forEach(brand => { %>
                                <option value="<%= brand.brandName %>"><%= brand.brandName %></option>
                            <% }) %>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                    <button id="addProductSubmit" type="button" onclick="addProduct()">Add Product</button>
                </form>
            </div>
        </div>
    
    </div>
    
    


    <script>

        function addProduct() {
            let productName = document.getElementById('productName').value;
            let productDescription = document.getElementById('productDescription').value;
            let productPrice = document.getElementById('productPrice').value;
            let productQty = document.getElementById('productQty').value;
            let department = document.getElementById('department').value;
            let category = document.getElementById('category').value;
            let brand = document.getElementById('brand').value;

            if (!productName || !productDescription || !productPrice || !productQty || !department || !category || !brand) {
                alert("Please fill out all fields.");
                return;
            }

            let inputData = [productName, productDescription, productPrice, productQty, department, category, brand]

            fetch('/admin/addProduct', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ inputData: inputData }),
                })
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    // console.log('Data sent successfully:', data);
                })
                .catch(error => {
                    // console.error('Error sending data:', error);
                });


            window.alert("Product successfully added to database.");


        }


        function calculateTotal(cartItems) {
            return cartItems.reduce((total, item) => total + item.productPrice, 0);
        }


        async function renderAddItem() {
            document.getElementById("addItemContainer").style.display = "block";
            document.getElementById("productsContainer").style.display = "none";
        }

        async function getAllCustomers() {
            try {
                const response = await fetch('/getAllCustomers', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });
                const data = await response.json();
                // console.log('Data retrieved successfully:', data);
                return data;
            } catch (error) {
                // console.error('Error getting data:', error);
                throw error; // Rethrow the error to propagate it
            }
        }

        async function getAllAdmins() {
            try {
                const response = await fetch('/getAllAdmins', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });
                const data = await response.json();
                // console.log('Data retrieved successfully:', data);
                return data;
            } catch (error) {
                // console.error('Error getting data:', error);
                throw error; // Rethrow the error to propagate it
            }
        }

        async function getAllProductsInCart() {
            try {
                const response = await fetch('/getAllProductsInCart', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });
                const data = await response.json();
                
                // console.log('Data retrieved successfully:', data);
                return data;
            } catch (error) {
                // console.error('Error getting data:', error);
                throw error; // Rethrow the error to propagate it
            }
        }

        function updateProduct(productID) {
            let container = document.getElementById(productID);

            let availabilityInput = container.querySelector("#availability_"+ productID).value;
            let priceInput = container.querySelector("#price_" + productID).value;

            container.querySelector('.product-price').innerHTML = "$" + priceInput;
            container.querySelector('.product-quantity').innerHTML = " Available: " + availabilityInput;

            let inputData = [productID, priceInput, availabilityInput];

            fetch('/admin/updateProduct', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ inputData: inputData }),
                })
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    // console.log('Data sent successfully:', data);
                })
                .catch(error => {
                    // console.error('Error sending data:', error);
                });

        }

        function deleteFromInventory(productID) {
            let container = document.getElementById(productID);

            if (!confirm("Are you sure you want to delete this product?")) {
                return;
            } 

            container.parentElement.style.display = "none";

            fetch('/admin/deleteProduct', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ inputData: productID }),
                })
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    // console.log('Data sent successfully:', data);
                })
                .catch(error => {
                    // console.error('Error sending data:', error);
                });


        }

    </script>





</body>
</html>