<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style.css">
  <link rel="stylesheet" href="../public/customer.css">

  <title>iClothing</title>
  <script src="https://kit.fontawesome.com/b24fcb5f38.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="overlay" id="overlay">
        <div class="login-box">
            <h2>Login</h2>
            <form action="#">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>
                <div id="loginError" class="error-message">
                    <div class="error-container">
                        <p>Incorrect username or password. Please try again.</p>
                    </div>
                </div>
                <button onclick="login(event)">Login</button>
                <button class="close-btn" onclick="closeLogin()">Close</button>
            </form>
            <!-- <button class="close-btn" onclick="closeOverlay()">Close</button> -->
        </div>
    </div>

    <a href="admin">Go to admin page</a>
    
    <!-- <button class="open-btn" onclick="openOverlay()">Open Login</button> -->

    <!-- <h1>iClothing</h1> -->

    <nav class="navbar">
        <div class="logo">
            <a href="/customer">iClothing</a>
        </div>
        <div class="navbar-links-container">
            <div class="home">
                <!-- <a href="#" onclick="renderHome()">Home</a> -->
                <a href="/customer">Customer</a>

            </div>
            <div class="about">
                <a href="#" onclick="renderAboutUs()">About Us</a>
            </div>
            <div class="contact">
                <a href="#" onclick="renderContactUs()">Contact Us</a>
            </div>
            <div class="products">
                <!-- <a href="#" onclick="renderHome()">Products</a> -->
                <a href="/customer">Products</a>

            </div>
    
            <div class="cart">
                <a href="#" onclick="renderCart()">
                    <!-- <i class="fa-solid fa-shopping-cart"></i> -->
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span id="cartQuantity" class="cart-badge"><%= productsInCart ? productsInCart.length : 0 %></span>
                </a>
            </div>

            <div class="user">
                <a href="#" onclick="openLogin()">
                    <!-- <i class="fa-solid fa-shopping-cart"></i> -->
                    <p>Login <i class="fa-solid fa-right-to-bracket"></i></p>
                    <!-- <span id="cartQuantity" class="cart-badge"><%= productsInCart ? productsInCart.length : 0 %></span> -->
                </a>
            </div>
        </div>
    </nav>

    <div class="page-container">
        <div id="productsContainer" class="product-container">
            <h1>Products</h1>
            <div class="card-container">
                <!-- <div class="grid-container"> -->
                <!-- <div > -->
                <% if (products) { %>
                    <% products.forEach((product) => { %>
                        <!-- <div id="<%= product.productID %>">
                            <p class="inline-block content"><%= product.productName %></p>
                            <button onclick="addToCart([`ADD_TO_CART`, this.parentElement.id])">Add to cart</button>
                        </div> -->

                        <div class="product-card">
                            <img src="../public/images/<%= product.productID %>.jpg" alt="<%= product.productName %>">
                            <div class="product-details" id="<%= product.productID %>">
                                <h2 class="product-name content"><%= product.productName %></h2>
                                <p class="product-description"><%= product.productDescription %></p>
                                <p class="product-price">$<%= product.productPrice.toFixed(2) %></p>
                                <p class="product-quantity">Available: <%= product.productQty %></p>
                                <p class="product-category">Department: <%= product.department %></p>
                                <p class="product-category">Category: <%= product.category %></p>
                                <p class="product-brand">Brand: <%= product.brand %></p>
                                <button class="add-to-cart-btn" onclick="addToCart([`ADD_TO_CART`, this.parentElement.id])">Add to cart</button>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No products in the database</p>
                <% } %>
    
            </div>
        </div>

        <div class="cart-container" id="cartContainer">
            <h1>Cart</h1>
            <div class="container">
                <h1>Shopping Cart</h1>
                <div id="cartItems" class="cart-items">
                    <% if(productsInCart) { %>
                    <% productsInCart.forEach(item => { %>
                        <div id="<%= item.productID %>_CART" class="cart-item">
                            <img src="../public/images/<%= item.productID %>.jpg" alt="<%= item.productName %>">
                            <div class="item-details">
                                <h3><%= item.productName %></h3>
                                <p>Price: $<%= item.productPrice.toFixed(2) %></p>
                                <div class="qty-container">
                                    <p>Quantity:
                                    <!-- <div class="container"> -->
                                        <input type="number" class="quantity-input" value="<%= item.quantity %>">
                                    <!-- </div> -->
                                </div>
                                <!-- <p>Total: $<%= (item.productPrice * item.quantity).toFixed(2) %></p> -->
                            </div>
                            <button onclick="removeFromCart(['REMOVE_FROM_CART', this.parentElement.id])">Remove</button>
                        </div>
                    <% }); %>
                    <% } else { %>
                        <div class="cart-item">
                            No items in cart
                        </div>
                    <% } %>

                </div>
                <div class="total">
                    <% if(productsInCart) { %>
                    <h3>Total: $<%= productsInCart.reduce((total, item) => total + item.productPrice, 0).toFixed(2) %></h3>
                    <% } %>
                    <button>Place Order</button>
                </div>
            </div>
        </div>

        <div class="contact-us-container" id="contactUsContainer">
            <div class="container">
                <h1>Contact Us</h1>
                <div class="contact-info">
                  <p><span>Phone:</span> (123) 456-7890</p>
                  <p><span>Email:</span> <a href="mailto:info@iclothing.com">info@iclothing.com</a></p>
                  <p><span>Address:</span> 123 Main Street, Columbia, MO 65201</p>
                </div>
                <div class="message-form">
                  <form action="/send-message" method="post">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="message" placeholder="Your Message" required></textarea>
                    <input type="submit" value="Send Message">
                  </form>
                </div>
              </div>
        </div>

        <div class="about-us-container" id="aboutUsContainer">
            <div class="container">
                <h1>About Us</h1>
        
                <div class="section">
                    <div class="section-heading">Our Mission</div>
                    <div class="section-content">
                        <p>iClothing is dedicated to providing trendy and affordable clothing for men, women, and kids. We strive to offer a wide selection of high-quality apparel while ensuring comfort and style.</p>
                    </div>
                </div>
        
                <div class="section">
                    <div class="section-heading">Our Address</div>
                    <div class="section-content">
                        <p>123 Main Street<br>
                        Columbia, MO 65201</p>
                    </div>
                </div>
        
                <div class="section">
                    <div class="section-heading">Shipping Policy</div>
                    <div class="section-content">
                        <p>We offer free standard shipping on orders over $50 within the contiguous United States. Expedited shipping options are also available.</p>
                    </div>
                </div>
        
                <div class="section">
                    <div class="section-heading">Return Policy</div>
                    <div class="section-content">
                        <p>We accept returns within 30 days of purchase. Items must be unworn, unwashed, and in their original condition with tags attached.</p>
                    </div>
                </div>
        
                <div class="section">
                    <div class="section-heading">Contact Information</div>
                    <div class="section-content">
                        <p>Phone: (123) 456-7890<br>
                        Email: info@iclothing.com</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    

    <script>
        function calculateTotal(cartItems) {
            return cartItems.reduce((total, item) => total + item.productPrice, 0);
        }

        function openLogin() {
            document.getElementById('overlay').style.display = "block";
        }
        function closeLogin() {
            document.getElementById('overlay').style.display = "none";
        }

        async function renderAboutUs() {
            document.getElementById("productsContainer").style.display = "none";
            document.getElementById("aboutUsContainer").style.display = "block";
            document.getElementById("cartContainer").style.display = "none";
            document.getElementById("contactUsContainer").style.display = "none";
        }

        // async function renderHome() {
        //     document.getElementById("productsContainer").style.display = "block";
        //     document.getElementById("aboutUsContainer").style.display = "none";
        //     document.getElementById("cartContainer").style.display = "none";
        //     document.getElementById("contactUsContainer").style.display = "none";
        // }

        async function renderContactUs() {
            document.getElementById("productsContainer").style.display = "none";
            document.getElementById("aboutUsContainer").style.display = "none";
            document.getElementById("cartContainer").style.display = "none";
            console.log("REDNER")
            document.getElementById("contactUsContainer").style.display = "block";
        }

        async function renderCart() {
            document.getElementById("productsContainer").style.display = "none";
            document.getElementById("aboutUsContainer").style.display = "none";
            document.getElementById("cartContainer").style.display = "block";
            document.getElementById("contactUsContainer").style.display = "none";


            let destination = document.getElementById("cartItems");

            let products = await getAllProductsInCart();

            console.log("Products to display: " + products)

            // console.log("PRODUCTS IN CART: " + products);

            let totalDestHtml = "";
            let destHtml;
            // console.log(products);
            if(!products[0].empty) {
                products.forEach(item => {
                    // console.log(item);
                    // destination.innerHTML += 
                    destHtml = 
                    `<div id="${item.productID}_CART"class="cart-item">
                        <img src="../public/images/${item.productID}.jpg" alt="${item.productName}">
                        <div id="${item.productID}_CART" class="item-details">
                            <h3>${item.productName}</h3>
                            <p>Price: $${item.productPrice.toFixed(2)} %></p>
                            <div class="qty-container">
                                <p>Quantity:</p>
                                <input type="number" id="numberInput" value="${item.quantity}">
                            </div>
                            <!-- <p>Total: $${ (item.productPrice * item.quantity).toFixed(2) }</p> -->
                        </div>
                        <button onclick="removeFromCart(['REMOVE_FROM_CART', this.parentElement.id])">Remove</button>

                    </div>`

                    totalDestHtml += destHtml;
                })
            } else {
                totalDestHtml = 
                    `<div class="cart-item">
                        No items in cart
                    </div>


                    <div class="total">
                        <h3>Total: $0.00</h3>
                    </div>`;
            }

            destination.innerHTML = totalDestHtml;


            return;
        }

        document.querySelectorAll('.quantity-input').forEach(function(input) {
            input.addEventListener('change', function() {
                var productId = this.parentElement.parentElement.id.split("_")[0]; // Extract product ID from parent element ID
                var newQuantity = parseInt(this.value);
                // console.log("PRODID: " + )
                // updateCartQuantity(productId, newQuantity);

            });
        });

        // function updateCartQuantity(productId, newQuantity) {
        //     var inputData = ['UPDATE_CART_QUANTITY', productId, newQuantity]; // Example data format
        //     fetch('/customer/updateCartQuantity', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //         },
        //         body: JSON.stringify({ inputData: inputData }),
        //     })
        //     .then(response => {
        //         // Handle response
        //     })
        //     .catch(error => {
        //         // Handle error
        //     });
        // }


        async function login(e) {
            e.preventDefault();
            let username = document.getElementById('username').value;
            let password = document.getElementById('password').value;

            let customers = await getAllCustomers();
            // console.log("The customers: ", customers);

            let admins = await getAllAdmins();
            // console.log("The admins: ", admins);

            
            let customerBool = false;
            let customerMatch = customers.find(obj => obj.customerID === username);
            if(customerMatch) {
                if(customerMatch.password === password) customerBool = true;
            }

            let adminBool = false;
            let adminMatch = admins.find(obj => obj.adminID === username);
            if(adminMatch) {
                if(adminMatch.password === password) adminBool = true;
            }

            if(!customerBool && !adminBool) {
                // console.log("No match") 
                document.getElementById("loginError").style.display = "block";
            } else {

                if(adminBool) {
                    // fetch('admin/loginAdmin', {
                    //     method: 'POST',
                    //     headers: {
                    //     'Content-Type': 'application/json',
                    //     },
                    //     body: JSON.stringify({ inputData: username }),
                    // })
                    // .then(response => {
                    //     // console.log(response);
                    //     return response.json();

                    // })
                    // .then(data => {
                    //     // console.log('Data sent successfully:', data);
                    // })
                    // .catch(error => {
                    //     // console.error('Error sending data:', error);
                    // });
                    
                    window.location.href = '/admin';
                } else {
                    // fetch('customer/loginCustomer', {
                    //     method: 'POST',
                    //     headers: {
                    //     'Content-Type': 'application/json',
                    //     },
                    //     body: JSON.stringify({ inputData: username }),
                    // })
                    // .then(response => {
                    //     // console.log(response);
                    //     return response.json();

                    // })
                    // .then(data => {
                    //     // console.log('Data sent successfully:', data);
                    // })
                    // .catch(error => {
                    //     // console.error('Error sending data:', error);
                    // });

                    window.location.href = '/customer';
                }

                // closeLogin();
            }

            

        }

        async function getAllCustomers() {
            try {
                const response = await fetch('/customer/getAllCustomers', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });
                const data = await response.json();
                // console.log('Data retrieved successfully:', data);
                return data;
            } catch (error) {
                // console.error('Error getting data:', error);
                throw error; // Rethrow the error to propagate it
            }
        }

        async function getAllAdmins() {
            try {
                const response = await fetch('/customer/getAllAdmins', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });
                const data = await response.json();
                // console.log('Data retrieved successfully:', data);
                return data;
            } catch (error) {
                // console.error('Error getting data:', error);
                throw error; // Rethrow the error to propagate it
            }
        }

        async function getAllProductsInCart() {
            try {
                const response = await fetch('/customer/getAllProductsInCart', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });
                const data = await response.json();
                
                console.log('Data retrieved successfully:', data);
                return data;
            } catch (error) {
                // console.error('Error getting data:', error);
                throw error; // Rethrow the error to propagate it
            }
        }

        function openLogin() {
            document.getElementById("overlay").style.display = "block";
        }


        function removeFromCart(data) {
            
            let container = document.getElementById(data[1]).parentElement;

            document.getElementById(data[1]).remove();

            if(container.innerHTML.trim() === "") { // if all the elements have been removed, put in a list element saying it's empty
                container.innerHTML = `<div class="cart-item"> No items in cart</div>`;
            }


            var inputData = data;
            // inputData[1] = inputData[1].substring(0,7);

            fetch('customer/removeFromCart', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify({ inputData: inputData }),
            })
            .then(response => {
                // console.log(response);
                return response.json();

            })
            .then(data => {
                // console.log('Data sent successfully:', data);
            })
            .catch(error => {
                // console.error('Error sending data:', error);
            });

            document.getElementById('cartQuantity').innerHTML--;

        }

        async function addToCart(data) {

            let container = document.getElementById(data[1]);
            let content = container.querySelector('.content').innerHTML;
            let contentID = data[1];

            let cartProducts = await getAllProductsInCart();


            let alreadyThere = false;
            // console.log("alreadyThere? " + alreadyThere);

            if(cartProducts !== undefined) {
                cartProducts.forEach(prod => {
                    // console.log("Product id: " + prod.productID + " Content ID: " + contentID );
                    if(parseInt(prod.productID) === parseInt(contentID)) alreadyThere = true;

                })
            } 

            if(!alreadyThere) { // if the content isn't already there, go through the favoriting process
                inputData = data;

                fetch('/customer/addToCart', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ inputData: inputData }),
                })
                .then(response => {
                    // console.log(response);
                    return response.json();
                })
                .then(data => {
                    // console.log('Data sent successfully:', data);
                })
                .catch(error => {
                    // console.error('Error sending data:', error);
                });               
                
                document.getElementById('cartQuantity').innerHTML++;

            } else {
                alert(`"${content}" is already in your cart`);
                return; // if it's there already, do nothing
            } 

            return;
        }


    </script>


</body>
</html>